<%= render "topbar" %>
  <%= nested_form_for @recipe, method: "POST", :url => { :action => :create} do |f| %>
  <div class="row recipename">
    <p>
      Naam van het recept:
      <%=f.text_field :name, :placeholder => "Naam van het recept"%>
      Categorie:
      <%= select("recipe", "category_id", Category.all.collect {|c| [ c.name, c.id ] }, {include_blank: 'Categorie van het recept'}) %>
    </p>
  </div>
  <div class="row content">
    <div class="ingredients large-4 columns">
      <div class="row">
        <div class="large-12 columns">Personen</div>
      </div>
      <div class="row">
        Ingrediënten:
        <%= f.fields_for :ingredients do |builder| %>
        <div class="large-3 columns amount"> <%= builder.text_field :amount,:placeholder => "1" %></div>
          <div class="large-3 columns"> <%= builder.text_field :unit_prefix, :placeholder => "kg" %></div>
          <div class="large-6 columns"><%= builder.text_field :name, :placeholder => "bosbessen" %></div>
        <%end%>
        <p><%= f.link_to_add "Add a ingredient", :ingredients %></p>
      </div>
    </div>
    <div class="description large-8 columns">Beschrijving<%=f.text_area :description%></div>
    <div class="row"><p><%= f.submit "Submit" %></p></div>
  </div>
  <% end %>

